<article class="h-entry photo">
 <a class="u-url" href="#" rel="bookmark" title="a"
 data-template="entry:permalink">
  <svg viewBox="0 0 32 32" class="icon">
   <use xmlns:xlink="http://www.w3.org/1999/xlink"
   xlink:href="#note" />
  </svg>
  <time class="dt-published" datetime="2016-07-21"
  data-template="entry:published">DAY of MONTH, YEAR</time>
 </a>
 <figure>
  <img data-template="entry:photo-img" class="u-photo"
  alt="a photo" src="https://placekitten.com/g/200/200" />
  <figcaption data-template="entry:photo-caption">a post whose
  primary content is a photograph</figcaption>
 </figure>
 <div data-template="entry:tags" class="p-category">
  <svg viewBox="0 0 32 32" class="icon">
   <use xmlns:xlink="http://www.w3.org/1999/xlink"
   xlink:href="#tag" />
  </svg>
  <span data-template="entry:tag-list">category tag list</span>
 </div>
</article>
