<article class="h-entry reply">
 <a class="u-url" href="#" rel="bookmark" title="a"
 data-template="entry:permalink">
  <img width='16' height='16' alt='note' src="/icons/note" />
  <time class="dt-published" datetime="2016-07-21"
  data-template="entry:published">DAY of MONTH, YEAR</time>
 </a>
 <p>
 <img width='16' height='16' alt='note' src="/icons/chat" />
  &#32; ... in reply to 
 <a data-template="entry:in-reply-to"
 href="http://example.com/note123"
 rel="in-reply-to"
 class="u-in-reply-to">Some note
 with a point</a></p>
 <hr/>
 <p data-template="entry:note" class="e-content p-name">short
 unstructured plain text, written &amp; posted quickly</p>
 <div data-template="entry:tags" class="category-list">
  <img height="16" width="16" src="/icons/tag"
  title="categories" />
  <span data-template="entry:tag-list">category tag list</span>
 </div>
</article>
