<div class="h-card rep-card">
  <figure>
    <img data-render="card" class='u-photo'
    width='60'
    height='60'
    alt='name'
    src="photo" />
    <figcaption>
    <a data-render="card"  class="p-name u-url u-uid" rel="me" href="url">name</a> <br/>
    <em data-render="card" class="p-note">note</em>
    </figcaption>
  </figure>
  <a class="u-email"
     href="mailto:grantmacken@gmail.com">
    <figure class="contact-info">
      <img data-render="card"
           width='16'
           height='16'
           alt='name'
           src="/icons/mail"/>
      <figcaption data-render="card" >
      email
      </figcaption>
    </figure>
  </a>

  <figure class="h-adr">
    <img data-render="card" width='16'
    height='16'
    alt='name'
    src="/icons/geolocation" />
    <figcaption>
    <span data-render="card" class="p-street-address">street-address</span>,
    <span data-render="card"  class="p-locality">locality</span>,
    <span data-render="card" class="p-country-name">country-name</span>
    </figcaption>
  </figure>

  <div class="link-to-profiles">
    <a data-render="profiles"
       href="url"
       rel="me">
      <img width='16'
           height='16'
           alt='name'
           src="icon" />
    </a>
  </div>
</div>
