<div class="h-card rep-card">

  <figure>
    <img class='u-photo' 
    width='60'
    height='60'
    alt='Grant Mackenzie'
    src="/images/60/gmacknz" />
    <figcaption>
    <a class="p-name u-url u-uid" rel="me" href="https://gmack.nz">
      Grant MacKenzie</a> <br/>
    <em class="p-note">My URL therefore I am</em>
    </figcaption>
  </figure>

  <a class="u-email"
    href="mailto:grantmacken@gmail.com">
    <figure class="contact-info">
      <img width='16' 
      height='16' 
      alt='Grant Mackenzie'
      src="/icons/mail"/>
      <figcaption>
      grantmacken@gmail.com
      </figcaption>
    </figure>
  </a>

  <figure class="h-adr">
    <img width='16'
    height='16'
    alt='Grant Mackenzie'
    src="/icons/geolocation" />
    <figcaption>
    <span class="p-street-address">8 Featon Ave</span>,
    <span class="p-locality">Awhitu</span>,
    <span class="p-country-name">New Zealand</span>
    </figcaption>
  </figure>

  <div class="link-to-profiles">

    <a href="https://twitter.com/grantmacken" 
      rel="me">
      <img
      width='16' 
      height='16' 
      alt='Grant Mackenzie'
      src="/icons/twitter" />
    </a>

    <a href="https://github.com/grantmacken" 
      rel="me">
      <img
      width='16'
      height='16'
      alt='Grant Mackenzie at github'
      src="/icons/github"/>
    </a>

    <a href="https://plus.google.com/+GrantMacKenzieAwhitu/about"
      rel="me">G+</a>

  </div>
</div>
