<head>
 <meta content="text/html; charset=utf-8"
 http-equiv="content-type" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title data-template="entry:name">ref:
 modules/render/entry.xqm</title>
 <meta name="viewport"
 content="width=device-width, initial-scale=1" />
 <link href="/styles" rel="Stylesheet" type="text/css" />
 <link rel="authorization_endpoint"
 href="https://indieauth.com/auth" />
 <link rel="token_endpoint"
 href="https://tokens.indieauth.com/token" />
 <link rel="micropub" href="https://gmack.nz/micropub" />
 <link rel="webmention" href="https://gmack.nz/webmention" />
 <script src="/scripts" type="text/javascript"></script>
 <script data-template="site:script-livereload">ref:
 modules/render/site.xqm notes: script for livereloading should
 only appear on localhost dev server</script>
</head>
