<html lang="en">
 <head class="templates:include?path=templates/includes/head.html">
  <title>title</title>
 </head>
 <body class="h-feed">
  <main role="main">
   <section>
    <article data-template="feed:recent-entries" class="h-entry">
     <a class="u-url" href="#" rel="bookmark" title="a title">
      <svg viewBox="0 0 32 32" class="icon">
       <use xmlns:xlink="http://www.w3.org/1999/xlink"
       xlink:href="#note" />
      </svg>
      <time class="dt-published" datetime="2016-07-21">DAY of
      MONTH, YEAR</time>
     </a>
     <p class="e-content p-name">short unstructured plain text,
     written &amp; posted quickly</p>
    </article>
   </section>
   <aside role="complementary">
    <div class="templates:include?path=templates/includes/representative-card.html" />
    <hr />
   </aside>
  </main>
  <footer role="contentinfo"
  class="templates:include?path=templates/includes/footer.html">gf:
  templates/includes/footer.html</footer>
 </body>
</html>
