<html lang="en">
 <head>
  <title>Page Not Found</title>
  <meta content="text/html; charset=utf-8"
  http-equiv="content-type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
  content="width=device-width, initial-scale=1" />
  <link href="/styles" rel="Stylesheet" type="text/css" />
  <meta http-equiv="refresh" content="5" />
 </head>
 <body>
  <header role="banner">
   <h1>Page Not Found</h1>
  </header>
  <main role="main">
   <p data-template="entry:not-found">Entry 
   <span data-template="entry:id" />is not available. Either no
   entry of this name has been posted or the posted entry may have
   been deleted.</p>
  </main>
  <footer role="contentinfo">
   <small>
   <a href="https://gmack.nz" title="Grant MacKenzie">gmack.nz</a>is
   the website owned and operated by Grant MacKenzie.</small>
  </footer>
 </body>
</html>
