<html lang="en">
  <head class="templates:include?path=templates/includes/wm-head.html">
    <title>title</title>
  </head>
<body>
<header role="banner"
  class="templates:include?path=templates/includes/header.html">
</header>
<main role="main">

  <article role="article" class="h-entry note">

<!-- content  -->
       <p data-template="entry:note" class="e-content p-name">short
       unstructured plain text, written &amp; posted quickly</p>

<!-- permalink  -->
      <div id="permalink">
        <a class="u-url" href="#" rel="bookmark" title="a"
          data-template="entry:permalink">
          <img width='16' height='16' alt='note' src="/icons/note" />
          note published on the
          <time class="dt-published" datetime="2016-07-21"
            data-template="entry:published">DAY of MONTH, YEAR</time>
        </a>
      </div>

 <!-- tag list  -->
        <div data-template="entry:tags" class="category-list">
         <img height="16" width="16" src="/icons/tag"
         title="categories" />
         <span data-template="entry:tag-list">category tag list</span>
       </div>

<!-- authorship  -->
      <figure class="templates:include?path=templates/includes/author-card.html">
        gf: templates/includes/author-card.html
      </figure>


  <!--
  # Footer sections
  @see https://indieweb.org/posts#Footer_sections

Footer sections. Posts sometimes have footers with links, references
etc. Here are few known footer sections with a real world indieweb
example in the wild of each.

    Previously - links to previous posts by the author on the same or
    similar subjects. E.g. [1] 

    References - explicit list of citations
    supporting the post, from inline hyperlinks in the post, and/or
    [number] references inline in post text.
    
    Elsewhere - a list of
    links to POSSE syndicated copies of the post on other services.
    E.g. [2]

    Elsewhere of this Translation - a list of links to POSSE
    syndicated copies of a post which is a translation of another post.

    Translations - links to translations of the post. E.g. [3] comments
    - a list of comments (in time sequence order) about or replying
    to the post. E.g. [4] 
    
    Referencing Articles / Mentions - other
    discussions / articles spawned as a result of (after) the post, or
    other related reading that cites the post. A that reader already
    took the time to read it and have the post in mind as context, may
    want to read articles that build upon it. E.g.: [5]. 
    
    likes/favorites
    - primarily on silos but capturing here as something that indieweb
    community members have expressed an interest in implementing on
    their own posts tags - often parsed from hashtags within the post.
    Examples: [6] [7] 
    
    navigation - usually previous/next links between
    posts. Examples: [8] [9] [10] [11] ... have a different section in
    the footer of your posts? Add it here with a link to a real world
    example.

All marked up with h-cite+h-card naturally

(except maybe the comments can be just h-entry+h-card).

 data-template="entry:mentions" 


@see https://indieweb.org/comments
@see https://indieweb.org/reply

# Display received comments 

  1. Parse the source of the webmention for (the first) h-entry.

  2. If the hyperlink in the h-entry to the webmention target has
  in-reply-to markup, display the h-entry (summary/content abbreviated
  as necessary) in a "Comments" section, perhaps in the post footer. See
  comments-presentation for details.

  3. Otherwise if the hyperlink to the original post lacks in-reply-to
markup, then add it to a "Related Articles" or "Mentions" section, again
in the post footer.

 NOTE:   my collections 
 a received web mention will generate a well formed html source document
placed in pages collection using a hash of the source url

 the document will then be mf2 parsed .. and put into the
 mentions collection

 Kinds_of_Posts folder
 
 @https://github.com/dshanske/indieweb-post-kinds/
 @see https://indieweb.org/post_type#Inferring_post_kinds_from_properties
 @see https://github.com/indieweb/php-comments

 - mentions 
  - mentions: default page has URL referencing target but when mf2 parsed but lacks in-reply-to markup
      - mention
  - comments: - parsed has in-reply-to
  - likes:    - parsed u-like-of
  - reposts   - parsed  u-repost-of  
              @see https://indieweb.org/repost
  - rsvps
also
  - tag-reply    - u-tag-of response 
  - bookmark   @see https://indieweb.org/bookmark
  - quotation 

also note: person-tags
   a webmention sent to home-page with source containing person tags
   @see https://indieweb.org/person-tag
-->

  <footer>
    <div data-template="entry:mentions" id="mentions">
      <!-- comments  in-reply-to -->
      <div data-template="entry:comments" id="comments">
        <h2>comments <small data-template="entry:commentsCount"/> </h2>
          <div data-template="entry:comment" class="u-comment h-cite">
            <a class="u-author h-card" href="http://jane.example.com/">Jane Bloggs</a>
            <p class="p-content p-name">Ha ha ha great article John.</p>
            <a class="u-url" href="http://jane.example.com/c12">
              <time class="dt-published">2015-07-12 HH:MM</time>
            </a>
          </div>
        </div>
        <!-- likes    u-like-of -->
        <!-- reposts  u-repost-of -->
      </div>

      <!-- Elsewhere - a list of links to POSSE syndicated copies  -->
      <div id="elsewhere">
        <h2>elsewhere</h2>
        </div>
    </footer>
  </article>
    <!-- <div data-template="site:info"></div> -->
  </main>
  <footer role="contentinfo"
    class="templates:include?path=templates/includes/footer.html">gf:
    templates/includes/footer.html</footer>
  </body>
  </html>
