<html lang="en">
 <head class="templates:include?path=templates/includes/head.html">
  <title>title</title>
 </head>
 <body>
  <header role="banner"
  class="templates:include?path=templates/includes/header.html">
  </header>
  <main role="main" class="h-entry">
   <section>
    <article role="article"
    class="templates:include?path=templates/includes/photo.html">
    </article>
   </section>
   <aside role="complementary"></aside>
  </main>
  <footer role="contentinfo"></footer>
 </body>
</html>
